/* GENERAL */
span{
    font-family: Verdana;
    font-size: 12px;
}
.btn:hover{
    border: 1px solid rgba(86, 17, 122, 0.63);
    background-color: rgba(44, 13, 54, 0.82);
    color: #6d6e69;
}
.btn{
    border: 1px solid rgba(100, 20, 138, 0.96);
    color: rgba(100, 20, 138, 0.96);
    background-color: transparent;
}
.btn:active{
    border: 1px solid rgba(100, 20, 138, 0.96);
    color: rgba(100, 20, 138, 0.96);
    background-color: transparent;
}
.navbar-nav li i:hover {!important;
    text-decoration: none;
    color: #6e2168;
}
.imagezoom:hover{
    cursor: zoom-in;
    width: 50%;
}
.imagezoom{
width: 20%;
}
label{
    margin-right: 1em;
    margin-left: 1em;
}
button {
    background: none;
    border: none;
}

button::-moz-focus-inner {
    border: 0;
}

:focus { outline: none; }

::-moz-focus-inner {
    border: 0;
}
.nav-container {
    position: absolute;
    left: -50%;
    top: 0;
    background: #CD5334;
    height: 100%;
    width: 150px;
}

.nav-list {
    cursor: pointer;
    list-style-type: none;
    top: 50%;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list-item {
    margin: 20px auto;
    border: 2px solid #fff;
    width: 50px;
    padding: 15px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.list-item:hover {
    border: 2px solid #17BEBB;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@keyframes
showNav { from {
    left: -100%;
}

    to { left: 0; }
}

@-webkit-keyframes
showNav { from {
    left: -100%;
}

    to { left: 0; }
}

@-moz-keyframes
showNav { from {
    left: -100%;
}

    to { left: 0; }
}

@-o-keyframes
showNav { from {
    left: -100%;
}

    to { left: 0; }
}

.showNav {
    -webkit-animation: showNav .5s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav .5s ease forwards;
}

@keyframes
hideNav { from {
    left: 0;
}

    to { left: -100%; }
}

@-webkit-keyframes
hideNav { from {
    left: 0;
}

    to { left: -100%; }
}

@-moz-keyframes
hideNav { from {
    left: 0;
}

    to { left: -100%; }
}

@-o-keyframes
hideNav { from {
    left: 0;
}

    to { left: -100%; }
}

.hideNav {
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
}
button {
    background: none;
    border: none;
}

.btn-nav:hover { cursor: pointer; }

.btn-nav:hover .bar { background: #17BEBB; }

.bar {
    display: block;
    height: 5px;
    width: 50px;
    background: #fff;
    margin: 10px auto;
}

.btn-nav {
    display: block;
    padding: 15px 0;
    width: 50px;
    position: fixed;
    left: 20px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-nav:focus { outline: none; }

.middle { margin: 0 auto; }

.bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.animated { z-index: 999; }

.animated .arrow-top-r {
    -webkit-transform: rotateZ(-45deg) translateY(11px);
    -moz-transform: rotateZ(-45deg) translateY(11px);
    -ms-transform: rotateZ(-45deg) translateY(11px);
    -o-transform: rotateZ(-45deg) translateY(11px);
    transform: rotateZ(-45deg) translateY(11px);
    width: 25px;
}

.animated .arrow-middle-r {
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
    transform: translateX(25px);
}

.animated .arrow-bottom-r {
    -webkit-transform: rotateZ(45deg) translateY(-11px);
    -moz-transform: rotateZ(45deg) translateY(-11px);
    -ms-transform: rotateZ(45deg) translateY(-11px);
    -o-transform: rotateZ(45deg) translateY(-11px);
    transform: rotateZ(45deg) translateY(-11px);
    width: 25px;
}


/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
    display: block;
    width:100%;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
img
{
    max-width: 100%;
    height: auto;
}
ul,ol
{
    list-style:none;
}
section
{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2
{
    text-transform: uppercase;
}
.red-divider
{
    width:100px;
    height: 2px;
    background: #fdfbff;
    margin: 0 auto;
}
.white-divider
{
    width:100px;
    height: 2px;
    background: #fdfbff;
    margin: 0 auto;
}

/* MENU */





/* ABOUT */
#about
{
    padding-top: 100px;
    background: #191919;
}

#about .heading h1
{
    color:#fff;
    text-transform: uppercase;
}
#about .heading h3
{
    color:#000;
}
.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}

/* SKILLS */
#skills
{
    background: #1c1b1c;
}
#skills .heading h2
{
    color: #e3eff0;
}
#skills .progress
{
    height: 100%;
    margin: 30px 20px;
    backface-visibility: #d6d7ce;
}
#skills .progress-bar
{
    background: #3346e8;
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000;
}

/* EXPERIENCE */
#experience
{
    background: #2b7f40;
}
#experience .heading h2
{
    color: #fff;
}
.timeline
{
    padding: 30px 10px;
    position: relative;
}
.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after
{
    clear: both;
}
.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}
.timeline li .timeline-badge
{
    color: #d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 17px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after
{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4
{
    color: #2b7f40;
}

/* EDUCATION */
#education
{
    background: #2b7f40;
}
#education .heading h2
{
    color: #fdfbff;
}
.education-block
{
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.education-block h5
{
    color: #e63722;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .glyphicon
{
    font-size: 40px;
}
.education-block h3
{
    color: #2b7f40;
}
.education-block h4
{
    margin-bottom: 20px;
}
.education-block p
{
    font-weight: bold;
}
.education-block .red-divider
{
    margin-bottom: 20px;
}

/* PORTFOLIO */
#portfolio
{
    background: #272627;
}
#portfolio .heading h2
{
    color: #c9c7cb;
}
#portfolio .thumbnail img
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail img:hover
{
    filter: none;
    -webkit-filter: none;
}


/* AUTRES SECTION */
#recommandations
{
    background: #333333;
}
#recommandations .heading h2
{
    color: #2b7f40;
}

#guide
{
    background: #333333;
}
#guide .heading h2
{
    color: #2b7f40;
}

#suivi
{
    background: #2a803b;
}
#suivi .heading h2
{
    color: #0d0d0d;
}
#equip
{
    background: #288030;
}
#equip .heading h2
{
    color: #0d0d0d;
}
#compta
{
    background: #111111;
}
#compta .heading h2
{
    color: #cecece;
}
#formulaire
{
    background: #1c1c1c;
}
#formulaire .heading h2
{
    color: #cecece;
}



/* FOOTER */
footer
{
    background: #333;
    padding: 20px 0 40px;
}
footer .glyphicon
{
    font-size:  25px;
    margin: 20px;
    color: #2b7f40;
    height: 30px;
}
footer .glyphicon:hover
{
    font-size:  27px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}

.tooltip
{
    text-decoration:none;
    position:relative;
}


.tooltip span
{
    display:none;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white;
}


.tooltip span img
{
    float:left;
    margin:0px 8px 8px 0;
}


.tooltip:hover span
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
}

@media screen and (max-width: 640px) {
    .sidebar-menu{
        display: none;
    }
.navbar{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

}

@media screen and (min-width: 640px) {

.menuMeText{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}
}






















